#header__modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__size
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        svg(xmlns='http://www.w3.org/2000/svg', width='30', height='30', viewbox='0 0 30 30')
          metadata
            x:xmpmeta(xmlns:x='adobe:ns:meta/', x:xmptk='Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ')
              rdf:rdf(xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#')
                rdf:description(rdf:about='')
          defs
          path.modal__close--icon(d='M1199.01,185.281l-0.72.732L1184,171.37l-14.29,14.643-0.72-.732,14.3-14.644-13.58-13.911,0.71-.732L1184,169.905l13.58-13.911,0.71,0.732-13.58,13.911Z', transform='translate(-1169 -156)')
      .modal__heading!=content.index.modal.header.heading 
      .modal__subheading!=content.index.modal.header.subheading 
        i.ic.ic--headingborder.heading__icon
      form.contact__form.contactForm.contactForm--modal(method='post', action='./mail/mail.php')
        .row
          .col-24 
            .form-group
              input.form-control.form__input.modal__input.form__input--phone.form__phone(aria-invalid='false', placeholder="+38 (___) ___-__-__", name='phone', type='tel', data-error='Введите телефон', required)
              p.help-block.with-errors
          .col-24     
            button.button.button--size.modal__btn(name='form', value='модалка в шапке', type='submit', data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...")
              .modal__btn--text!=content.index.modal.header.btn  
            .success
          .col-24
            .modal__access!=content.index.modal.header.access    

#footer__modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__size
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        svg(xmlns='http://www.w3.org/2000/svg', width='30', height='30', viewbox='0 0 30 30')
          metadata
            x:xmpmeta(xmlns:x='adobe:ns:meta/', x:xmptk='Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ')
              rdf:rdf(xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#')
                rdf:description(rdf:about='')
          defs
          path.modal__close--icon(d='M1199.01,185.281l-0.72.732L1184,171.37l-14.29,14.643-0.72-.732,14.3-14.644-13.58-13.911,0.71-.732L1184,169.905l13.58-13.911,0.71,0.732-13.58,13.911Z', transform='translate(-1169 -156)')
      .modal__heading!=content.index.modal.footer.heading 
      .modal__subheading!=content.index.modal.footer.subheading 
        i.ic.ic--headingborder.heading__icon
      form.contact__form.contactForm.contactForm--modal(method='post', action='./mail/mail.php')
        .row
          .col-24 
            .form-group
              input.form-control.form__input.modal__input.form__input--name.form__name(aria-invalid='false', placeholder="Введите имя", name='name', type='text', data-error='Введите имя', required)
              p.help-block.with-errors
          .col-24 
            .form-group
              input.form-control.form__input.modal__input.form__input--phone.form__phone(aria-invalid='false', placeholder="+38 (___) ___-__-__", name='phone', type='tel', data-error='Введите телефон', required)
              p.help-block.with-errors
          .col-24
            .form-group
              .row.justify-content-between
                .d-inline-flex.pl-2.pr-2
                  .checkbox-btn
                    input#period-1.checkbox-btn__control(type='radio', name='period[]', value='Сейчас', checked)
                    label.checkbox-btn__box(for='period-1') Сейчас
                .d-inline-flex.pl-2.pr-2
                  .checkbox-btn
                    input#period-2.checkbox-btn__control(type='radio', name='period[]', value='По времени')
                    label.checkbox-btn__box(for='period-2') По времени

          .col-24 
            .form-group
              input.form-control.form__input.modal__input.form__input--time.form__time(aria-invalid='false', placeholder="Например: завтра в 12:00", name='time', type='text', data-error='Введите, когда вам позвонить')
              p.help-block.with-errors
          .col-24     
            button.button.button--size.modal__btn(name='form', value='модалка в футере', type='submit', data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...")
              span.modal__btn--text!=content.index.modal.footer.btn  
            .success
          .col-24
            .modal__access
              !=content.index.modal.footer.access.text
              if (content.index.modal.footer.access.link)   
                a(href=content.index.modal.footer.access.link.href)!= content.index.modal.footer.access.link.text

