section.scheme
  .container
    .row
      .col-24.col-sm-18.offset-sm-3.col-lg-13.offset-lg-5.col-xl-14.offset-xl-4.text-center
        h2.heading.scheme__heading
          span.heading__text!=content.index.scheme.heading 
          i.ic.ic--headingborder.heading__icon
      .col-24.col-lg-5.col-xl-4.text-center.text-lg-left
        .date
          i.ic.ic--date.date__icon
          .date__info 
            .date__text!=content.index.scheme.text
            .date__number      
  .container.scheme__container.animate(data-animation="fadeInUp")
    .row
      each item, i in content.index.scheme.content  
        .col-24.col-md-8.text-center.scheme__col(class=item.class)
          .scheme__box
            .scheme__date(data-time!=item.date)
            .scheme__image
              .scheme__img
                img(src="img/"+(i+1)+".svg")
              span.scheme__number!=item.number
            .scheme__text!=item.text      
            .scheme__icon(class="scheme__icon--"+(i+1))
          .scheme__hover
            .scheme__title!=item.hover.title
            .scheme__descr!=item.hover.text    